body{
    background-color: #1d2d3c;
}

header{
    background-color: #06131f;
    height: 100px;
    margin-bottom: 2rem;
}

.container{
    max-width: 1100px;
}

.cards-container{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.card{
    width: calc(100% / 3);
    height: 390px;
    justify-content: center;
    align-items: center;
    background-color: #1d2d3c;
    border: none;
}

.card-content{
    width: 275px;
    height: 350px;
    background-color: #112030;
    color: white;
    border-radius: 3px;
}


img{
    width: 180px;
    height: 180px;
    margin-top: 1rem;
}

h1{
    margin-top: 1rem;
    font-size: 1.3rem;
}

p.author{
    font-size: .8rem;
    margin-bottom: .5rem;
}

p.year{
    font-size: 1rem;
}
